.col-login-on{
    display: flex;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    opacity: 1;
    animation: onlogin 1s;
}
.left-scroll{
    transition: 2s ease;
}
.left{
    opacity: 0;
    transform: translateX(50px);
}
.contact-nAnim{
    width: 90%;
}
@keyframes onlogin{
    from{
        opacity: 0;
        backdrop-filter: blur(1px);
    }
    to{
        opacity: 1;
        backdrop-filter: blur(10px);
    }
}