:root{
    /* global color var */
    --secon-color:#F6F6F6;
    --white-color:#FFFFFF;
    --secon-two-color:#EEF4F4;
    --green-active:#E6EBEB;
    --green-second:#19A855;
    /* position and sizr */
    --nav-height:60px;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
}
body{
    position: relative;
    z-index: -99;
    background-color: var(--secon-color);
}
nav{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--white-color);
}
.nav-logo{
    position: absolute;
    margin: 0 100px;
    height: var(--nav-height);
    display: flex;
}
.nav-logo img{
    height: var(--nav-height);
}
.nav-logo p {
    margin: auto 0;
    font-family: 'Poppins';
    color: gray;
    font-size: 16px;
}
.nav-menu{
    position: absolute;
    width: 400px;
    height: 100%;
    display: flex;
    right: 300px;
    justify-content: space-between;
}
.nav-menu a{
    font-family: 'Poppins',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 14px;
    font-size: 14px;
    text-decoration: none;
    color:#5f5f5f;
    font-weight: 400;
    margin:auto 0;
    position: relative;
}
.toko-menu{
    transition: .2s ease;
    width: 100px;
    height: 0px;
    margin-left: -20px;
    padding: 0 20px;
    background-color: white;
    position: absolute;
    margin-top: 0px;
    overflow: hidden;
}
#toko:hover .toko-menu{
    height: 160px;
}
.toko-menu p:first-child{
    margin-top: 20px;
}
.toko-menu p{
    margin-top: 10px;
}
.btn-right{
    height: 100%;
    position: absolute;
    display: flex;
    right: 100px;
}
.btn-right a{
    border-radius: 30px;
    font-family: 'Poppis',sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: var(--green-second);
    padding: 10px 20px;
    height: 18px;
    margin: auto;

}
.nav-gap{
    height: var(--nav-height);
    width: 100%;
    position: relative;
    z-index: -99;
}

/* End Of Navigation */


.hero-section{
    position: relative;
    background-color: var(--secon-color);
    width: 100%;
    height:400px;
    display: flex;
}
.hero-txt-left{
    width: 50%;
    height: 100%;
    margin-left: 100px;
}
.hero-txt-left h1{
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    margin-top: 65px;
    padding: 10px;
    background: rgb(25,168,85);
background: linear-gradient(90deg, rgba(25,168,85,1) 0%, rgba(118,201,153,1) 23%, rgba(246,246,246,1) 100%);
    width: 300px;
}
.hero-txt-left p{
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    width: 400px;
    color: #3f3f3f;
}
.emailbox{
    margin-top: 20px;
    width: 400px;
    height: 50px;
}
.emailbox button{
    cursor: pointer;
    width: 200px;
    font-family: 'Poppins';
    color:var(--green-second);
    border: none;
    background-color: var(--secon-color);
    border: 1px solid var(--green-second);
    height: 51px;
}
.hero-image-right{
    transition: all 0.3s ease;
    width: 50%;
    display: flex;
    height: 100%;
}
.col-berita{
    width: 550px;
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
}
.berita{
    border-radius: 5px;
    box-shadow: 0 0 1.4px gray;
    width: 48%;
    padding: 5px;
    margin-left: 20px;
    height: 300px;
}
.berita:first-child{
    box-shadow: 0 0 8px gray;
}
.image-berita{
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    height: 45%;
    opacity: .7;
}
#berita1{
    background: url(./src/images/berita1.webp) repeat 0;

    background-size: cover;
}#berita2{
    background: url('/src/images/berita2.webp');
    background-size: cover;
}
.berita p:nth-child(2){
    margin-top: 10px;
    font-family: 'Poppins';
    font-size: 12px;
    width: 95%;
    margin-left: 2.5%;
}
.berita p:nth-child(3){
    margin-top: 5px;
    font-family: 'Poppins';
    font-size: 10px;
    width: 95%;
    color: #747474;
    margin-left: 2.5%;
}
.btn{
    margin-top: 15px;
    width: 100%;
    display: flex;
}
.btn-readmore{
    margin: auto;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--green-second);
    padding: 5px 10px;
}
/* end of hero */

.produk-unggulan{
    cursor: default;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color: var(--secon-color);
}
.produk-unggulan h1{
    text-align: center;
    margin-top: 80px;
    font-family: 'Poppins';
    font-size: 24px;
    position: relative;
}
.produk-unggulan h1::before{
    position: absolute;
    left: 0;
    z-index: -99;
    margin-top: -10px;
    content: "";
    background-image: url('/src/images/pattern.jpg');
    opacity: .2;
    background-size: cover;
    width: 100%;
    height: 480px;
}
.produk-unggulan p{
    font-family: 'Poppins';
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}
.field-shop{
    width: 100%;
    display: flex;
}
.shop-menu{
    
    width: 900px;
    justify-content: space-between;
    height: 100%;
    margin: 20px auto;
    display: flex;
}
.c-shop-menu{
    transition: 0.3s ease;
    transform: scale(1.1);
    z-index: 10;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    height:100%;
    
    width: 200px;
}
.c-shop-menu:hover{
    box-shadow: 0 0 5px gray;
}
.c-shop-img-field{
    margin-top: 15px;
    width: 100%;
    display: flex;
}
#shop1{
    background: url('/src/image/onion.jpeg');
    background-size: cover;
}
#shop2{
    background: url('/src/images/cabai.jpg');
    background-size: cover;
}
#shop3{
    background: url('/src/images/semangka.jpg');
    background-size: cover;
}
#shop4{
    background: url('/src/images/bawang.jpg');
    background-size: cover;
}
.c-shop-img{
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: auto;
    box-shadow: 0px 0px 3px rgb(66, 66, 66);
}
.c-shop-menu p{
    font-family: 'Poppins';
    font-size: 18px;
}
.c-shop-desk{
    display: flex;
    width: 100%;
}
.c-shop-desk p{
    width: 80%;
    text-align: center;
    margin: auto;
    color: gray;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 10px;
}

/* end of Produk Unggulan */

.col-story-one{
    margin-top: 480px;
    width: 100%;
    display: flex;
    height:500px;
    background-color: var(--green-active);
}
.col-story-center{
    margin: auto;
    height: 100%;
    display: flex;
    width: 85%;
}
.col-story{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}
.col-story img{
    width: 400px;
    margin: auto;
}
.col-story p{
    margin: auto;
    width: 80%;
    font-size: 18px;
    color: #5f5f5f;
    font-family: 'Poppins';
}
.col-story p span{
    background-color:#8cec7d;
    color: white;
    opacity: .8;
    padding: 4px 3px;
}

/* End Of Story */
.contact{
    height: 380px;
}
.contact h1{
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
}
.contact-menu{
    position: relative;
    margin: 40px auto;
    width: 900px;
    height: 250px;
    justify-content: space-between;
    display: flex;
}
.contact-isi{
    position: relative;
    width: 30%;
    height: 100%;
}
.contact-isi .icon{
    z-index: 1;
    margin: auto;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 2px gray;
    background-color: var(--white-color);
    font-size: 40px;
    transform: scale(1.3);
    color: var(--green-second);
}
.contact-isi .icon i{
    margin: auto;
}
.contact-isi-form{
    position: absolute;
    width: 100%;
    height: 90%;
    box-shadow: 0 0 6px rgb(208, 208, 208);
    bottom: 0;
    background-color:var(--white-color);
}
.contact-isi-form h3{
    margin-top: 60px;
    text-align: center;
    font-family: 'Poppins';
}
.contact-isi-form p{
    font-size: 12px;
    font-family: 'Poppins';
    color: gray;
    text-align: center;
    width: 80%;
    margin: 10px auto;
}
#contact-visit{
    position: absolute;
    bottom: 0;
    background-color: #8ddcae;
    padding: 5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    width: 100%;
    font-size: 14px;
    text-align: center;
}
#contact-visit i{
    font-size: 10px;
}


/* end of contact */


.col-login{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 11;
    display: none;
}
.col-login::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,.7);
    backdrop-filter: blur(10px);
}
.col-login-close{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    border-radius: 0 20px 0 10px;
    background-color: var(--green-second);
    transition: 0.3s ease;
}
.col-login-close i{
    color: white;
    font-size: 20px;
}
.col-login-close:hover{
    background-color: rgb(173, 235, 209);
}
.col-login-close:hover i{
    color: var(--green-second);
}
.col-login-field{
    position: relative;
    width: 400px;
    background-color: white;
    margin: auto;
    height: 550px;
    box-shadow: 0 0 10px rgb(213, 213, 213);
    border-radius: 20px;
}
#col-sign .col-login-field{
    height: 650px;
}
.col-login-field h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 50px;
    color: green;
}
.col-login-field form{
    width:70%;
    margin: 20px auto;
}
.col-login-field form input{
    width: 100%;
    margin-top: 20px;
    padding: 15px 0 15px 40px;
    border-radius: 50px;
    margin-left: -20px;
    outline: none;
    border: 1px solid rgb(85, 106, 85);
}
.col-login-field label{
    position: absolute;
    font-size: 12px;
    margin-top:-30px ;
    color: gray;
}
.col-login-field button{
    width: 100%;
    margin-top: 50px;
    padding: 8px 0;
    border: none;
    background-color: rgb(43, 144, 78);
    font-size: 14px;
    cursor: pointer;
    font-family: 'Poppins';
    color: white;
    border-radius: 50px;
}
.col-login-field a{
    color: rgb(45, 133, 87);
    text-decoration: none;
    font-size: 10px;
    font-family: 'Poppins';
    position: absolute;
    right: 50px;
    margin-top: 15px;
}
.col-login-field .no-acc{
    left: 50px;
}
.container-login-dengan{
    width: 100%;
    display: flex;
}
.container-login-dengan .line{
    width: 70%;
    padding: 0 10px;
    background-color: rgb(182, 182, 182);
    margin: auto;
    height: 1px;
    display: flex;
}
.col-login-field span{
    font-size: 12px;
    background-color: white;
    padding: 0 10px;
    color: rgb(149, 149, 149);
    font-family: 'Poppins';
    margin: -10px auto;
}
.col-oaut{
    width: 70%;
    display: flex;
    height: 30px;
    margin: 30px auto;
    justify-content: space-between;
}
.oaut{
    cursor: pointer;
    display: flex;
    width: 40%;
    background-color: white;
    box-shadow: 0 0 2px gray;
}
.oaut img{
    height: 30px;
    margin-left: 10px;
}
.oaut p{
    margin: auto 5px;
    font-family: "Poppins";
    font-size: 12px;
}
.oaut #fb{
    height: 20px;
    width: 20px;
    margin: auto 0;
    margin-left: 8px;
    margin-right: 5px;
}
